.product-creator {
    margin: auto;

    text-align: center;
    width: fit-content;
}
.product-creator__select {
    font-size: 1.2rem;
}
.product-creator__img_preview {
    margin-top: 1rem;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        width: 30%;
    }
}
