@import "../../../scss/variables";
.select {
    background-color: $success-theme;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: 2px solid $green-theme;
    option {
        background-color: $success-theme;
    }
}
