@import "../../scss/variables";
.product-card__img-preview {
    width: 150px;
}
.product-card {
    width: fit-content;
    margin: 1rem 0.5rem 0.5rem 1rem;
    padding: 0.5rem !important;
    font-size: 1.8rem;
    text-align: center;
    &:hover {
        cursor: pointer;
        background-color: white;
    }
}
.product-card__name {
    text-align: center;
}
.product-card__price {
    text-align: center;
    font-weight: bold;
    color: $green-theme;
}
