@import "../../scss/variables";
.product-detail__name {
    text-align: center;
    margin: 0 0 1rem 0;
}
.product-detail__header-image {
    text-align: center;
}
.product-detail {
    font-size: 1.4rem;
    padding: 1rem;
}
.product-detail__overlay {
    max-width: 40%;
}
.product-detail__img {
    max-width: 600px;
    text-align: center;
}
.product-detail__description {
    padding: 0.5rem;
    text-align: center;
}
.product-detail__price {
    text-align: center;
    color: $green-theme;
    font-size: 2rem;
}
.product-detail__add-to-cart {
    margin-top: 0.5rem;
}
.good-rate {
    color: $green-theme;
}
.bad-rate {
    color: $canceled-theme;
}
.average-rate {
    color: rgb(177, 177, 52);
}
@media screen and (max-width: 600px) {
    .product-detail__overlay {
        max-width: 100%;
    }
}
