@import "../../scss/variables";
.comment-card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 1rem;

    padding: 0.5rem;
    border-radius: 1rem;
}
.comment-card__username {
    font-size: 1.1rem;
}
.comment-card__confirmed {
    color: $success-theme;
    font-size: 1rem;
}
.comment-card__comment-text {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}
.star-gold {
    color: gold;
}
.star-black {
    color: black;
}
.star {
    font-size: 1rem;
}
.comment-card__rate-actions__container {
    display: flex;
    justify-content: space-between;
    button {
        padding: 0.3rem;
        margin-left: 0.5rem;
    }
}
.comment-card__comment-actions {
    display: flex;
    font-size: 1rem;
}
.comment-card__comment-actions__thumbs-up {
    margin-left: 0;
    &:hover {
        cursor: pointer;
    }
}
.comment-card__comment-actions__thumbs-down {
    margin-left: 0.5rem;
    &:hover {
        cursor: pointer;
    }
}
.liked {
    color: $blue-theme;
}
.disliked {
    color: $canceled-theme;
}
