@import "../../../scss/variables";
.button {
    border: 2px solid transparent;
    padding: 0.4rem;
    outline: none;
    background-color: inherit;
    font-size: 1.2rem;
    &:hover {
        cursor: pointer;
        border-bottom: 2px solid $green-theme;
    }
}
.btn-without-border {
    border: none;
    padding: 0.4rem;
    outline: none;
    background-color: inherit;
    font-size: 1.2rem;
    &:hover {
        cursor: pointer;
    }
}
